body {
    margin: 0;
    background-color: lightgrey;
}

/* .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
} */

.title-box {
    margin: 20px;
display: flex;
justify-content: center;
}

.title {
    margin: 0;
    text-align: center;
}

.tries-box {
    position: absolute;
    margin-left: 90vw;
}

.tries {
    margin: 0;
    color: red;
    font-size: 100px;
    text-align: center;
}
.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.text-box {
    margin: 20px;
    height: 35px;
    width: 265px;
}

.btn {
width: 265px;
height: 25px;
}

.clue-box {
    display: flex;
    justify-content: center;
    margin: 50px;
    border: 1px solid blue;
    color: blue;
    font-size: 20px;
}